Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
ylwrap

*/.deps
*/*.o
*/Makefile
*/Makefile.in

ikectl/ikectl
ikectl/ikectl.8.out

iked/.dirstamp
iked/eap_map.c
iked/iked
iked/iked.8.out
iked/iked.conf.5.out
iked/iked.conf.out
iked/ikev2_map.c
iked/libcurve25519.a
iked/libpfkey.a
iked/parse.c

openbsd-compat/libopenbsd-compat.a
